.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #b0a4a4;
  width: 250px;
  height: 300px;
}

.cardImage {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 2px solid #820000;
}

.cardCategory {
  font-size: 25px;
  font-weight: bold;
  color: #820000;
}
