.container {
  display: flex;
  height: auto;
}

.sidebar {
  flex: 0 0 15%;
  background-color: #00539c;
  /* padding: 8px; */
  position: fixed;
}

.contentArea {
  flex: 0 0 85%;
  background-color: #fff;
  margin-left: 15%;
}
