.header {
  display: flex;
  align-items: center;
  background-color: #eea47f;
}

.heading {
  flex: 1;
  text-align: center;
}

.heading h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.btn {
  padding: 10px 20px;
  background-color: #820000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.image {
  flex: 1;
  text-align: center;
}

.image img {
  max-width: 100%;
  height: auto;
}
